html, body {
  height: 100%;
  width: 100%;
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.navbar {
  /* background-color: #23415C; */
  padding: 1% 0;
  font-size: 1.2em;
}

.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
  color: #d5d5d5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
  color: #ffffff;
}

#home {
  background: url(/images/guitarBackground3.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
  color: #ffffff;
}

.landing-text h3 {
  font-size: 200%;
  font-weight: 300;
  color: #ffffff;
}

a {
  color: #00B7FF;
}

.card-img-top {
  width: 18%;
  margin-left: 5%;
  margin-top: 5%;
}

.display-4 {
  color: #ffffff;
}

.lead {
  color: #ffffff;
}

.jumbotron {
  background: url(/images/guitarBackground4.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}
